<script setup lang="ts">
import CalculatorButton from "@/components/CalculatorButton.vue";
</script>

<template>
  <div class="alert alert-danger" role="alert" v-if="error">
    {{ error }}
  </div>

  <span>Input equation in the text box below or use the buttons. Type the number and press √ or r for the square
    root.</span>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <input type="text" name="input" id="input" class="form-control" @keydown.prevent="processKeyPress"
          :value="expression">
      </div>
      <div class="row">
        <CalculatorButton value="1" @click="processInput" />
        <CalculatorButton value="2" @click="processInput" />
        <CalculatorButton value="3" @click="processInput" />
        <CalculatorButton value="+" @click="processInput" />
      </div>
      <div class="row">
        <CalculatorButton value="4" @click="processInput" />
        <CalculatorButton value="5" @click="processInput" />
        <CalculatorButton value="6" @click="processInput" />
        <CalculatorButton value="-" @click="processInput" />
      </div>
      <div class="row">
        <CalculatorButton value="7" @click="processInput" />
        <CalculatorButton value="8" @click="processInput" />
        <CalculatorButton value="9" @click="processInput" />
        <CalculatorButton value="*" @click="processInput" />
      </div>
      <div class="row">
        <CalculatorButton value="0" @click="processInput" />
        <CalculatorButton value="." @click="processInput" />
        <CalculatorButton value="√" @click="processInput" />
        <CalculatorButton value="/" @click="processInput" />
      </div>
      <div class="row">
        <CalculatorButton value="⌫" @click="processInput" />
        <CalculatorButton value="=" @click="processInput" />
      </div>
      <div class="row">
        <CalculatorButton value="Random String" @click="processInput" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { add, divide, InsufficientTokensError, multiply, randomString, root, subtract } from "@/api";

function validNumber(input: string | null) {
  return input && input !== "" && !Number.isNaN(Number(input));
}


export default {
  data(): { x: string | null; y: string | null; op: string | null; result: string | null, error: string | null } {
    return {
      x: null,
      y: null,
      op: null,
      result: null,
      error: null
    };
  },
  computed: {
    expression() {
      if (!this.x && !this.result)
        return '';
      let expression = '';

      if (this.x)
        expression += this.x

      if (this.op)
        expression += ` ${this.op}`;

      if (this.y)
        expression += ` ${this.y}`;

      if (this.result)
        expression += ` = ${this.result}`;

      return expression;
    }
  },
  methods: {
    async calculate() {
      try {
        switch (this.op) {
          case '+':
            this.result = '' + await add(Number(this.x!), Number(this.y!));
            break;
          case '-':
            this.result = '' + await subtract(Number(this.x!), Number(this.y!));
            break;
          case '*':
            this.result = '' + await multiply(Number(this.x!), Number(this.y!));
            break;
          case '/':
            this.result = '' + await divide(Number(this.x!), Number(this.y!));
            break;
          case '√':
            this.result = '' + await root(Number(this.x!));
            break;
          case 'Random String':
            this.result = await randomString();
            break;
        }
      } catch (e: any) {
        if (e instanceof InsufficientTokensError) {
          this.error = e.message;
        } else {
          throw e;
        }
      }
    },

    processInput(input: string) {
      if ((input === "Enter" || input === "=")
        && validNumber(this.x)
        && validNumber(this.y)) {
        this.calculate();
        return;
      }

      let expr = ""

      switch (input) {
        case "Enter":
        case "=":
          if (validNumber(this.x) && validNumber(this.y)) {
            this.calculate();
          }
          return;
        case "r":
        case "√":
          if (validNumber(this.x)) {
            this.op = "√";
            this.calculate();
          }
          return;
        case "⌫":
        case "Backspace":
          expr = this.result ? "" : this.expression.slice(0, -1);
          break;
        case "Random String":
          this.op = "Random String";
          this.x = null;
          this.y = null;
          this.calculate();
          return;
        default:
          expr = this.result ? input : this.expression + input;
      }

      const match = expr.match(/(-?(?:\d+\.?\d*|$)) *([+*/-])? *(-?(?:\d+\.?\d*|$))?/)

      if (match) {
        this.x = match[1] ?? null;
        this.op = match[2] ?? null;
        this.y = match[3] ?? null;
      }

      // this is a new calculation
      if (this.result) {
        this.result = null;
      }
    },

    processKeyPress(event: KeyboardEvent) {
      this.processInput(event.key);
    },
  }
};
</script>

<style scoped>
.ptr {
  cursor: pointer;
}
</style>
