<template>
    <div class="alert alert-danger alert-dismissible" role="alert" v-if="error">
        {{ error }}
        <button type="button" class="btn-close" aria-label="Close" @click="dismissAlert"></button>
    </div>
    <form class="container-fluid" @submit.prevent="onSubmit">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" v-model="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" v-model="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<script lang="ts">

import { login } from '../api.js'

export default {
    name: 'LoginView',
    data(): { username: string, password: string, error: string | null } {
        return {
            username: '',
            password: '',
            error: null
        }
    },
    methods: {
        async onSubmit() {
            if (await login({
                username: this.username,
                password: this.password
            })) {
                this.$router.push('/calc')
            } else {
                this.error = 'Invalid username or password'
            }
        },
        dismissAlert() {
            this.error = null
        }
    }
}
</script>