<template>
    <div class="card">
        <div v-if="balance !== null" class="card-body">
            <h3>Current Balance:</h3>
            <h3>{{ balance }}</h3>
            <h3>Desired Balance:</h3>
            <div class="row">
                <input class="form-control col" v-model.number="desiredBalance" type="number" />
                <button @click="setBalance" class="btn btn-primary col-auto">Set Balance</button>
            </div>
        </div>
        <div v-else class="card-body">
            <h3>Loading Balance...</h3>
        </div>
    </div>

    <div class="card">
        <div v-if="records !== null" class="card-body">
            <h3>User Records:</h3>
            <div class="input-group mb3"><span class="input-group-text">page</span>
                <select class="form-select" v-model="tableControls.page" @change="loadTable">
                    <option v-for="page in pages" :key="page" :value="page">{{ page }}</option>
                </select>
            </div>
            <div class="input-group mb3"><span class="input-group-text">Search</span>
                <input class="form-control" v-model="tableControls.search" />
                <button @click="search" class="btn btn-primary">Search</button>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <TableHeader label="Date" :sort-key="tableControls.sort" :desc="tableControls.desc"
                            name="created_at" @click="sort">
                        </TableHeader>
                        <TableHeader label="Operation" :sort-key="tableControls.sort" :desc="tableControls.desc"
                            name="operation" @click="sort"></TableHeader>
                        <TableHeader label="Response" :sort-key="tableControls.sort" :desc="tableControls.desc"
                            name="response" @click="sort"></TableHeader>
                        <TableHeader label="Cost" :sort-key="tableControls.sort" :desc="tableControls.desc" name="amount"
                            @click="sort">
                        </TableHeader>
                        <TableHeader label="Balance" :sort-key="tableControls.sort" :desc="tableControls.desc"
                            name="user_balance" @click="sort"></TableHeader>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="record in records" :key="record.id">
                        <td>{{ formatter.format(record.created_at) }}</td>
                        <td>{{ record.operation }}</td>
                        <td>{{ record.response }}</td>
                        <td>{{ record.amount }}</td>
                        <td>{{ record.user_balance }}</td>
                        <td><button class="btn btn-danger" @click="$event => deleteRecord(record.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="card-body">
            <h3>Loading Records...</h3>
        </div>
    </div>
</template>

<script lang="ts">
import { userBalance, setUserBalance, getRecords, deleteRecord, type Record } from "@/api";
import TableHeader from "@/components/TableHeader.vue";

interface TableControls {
    search: string,
    sort: string,
    desc: boolean,
    page: number,
    pageSize: number
}

const formatter = new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
    second: "numeric",
    hour12: true
})

export default {
    data(): {
        balance: number | null;
        desiredBalance: number | null;
        pages: number;
        records: Record[] | null;
        formatter: Intl.DateTimeFormat;
        tableControls: TableControls;
    } {
        return {
            balance: null,
            desiredBalance: null,
            pages: 0,
            records: null,
            formatter: formatter,
            tableControls: {
                search: "",
                sort: "created_at",
                desc: false,
                page: 1,
                pageSize: 10
            }
        };
    },
    async created() {
        this.balance = await userBalance();
        let result = await getRecords(this.tableControls.search, this.tableControls.sort, this.tableControls.desc, this.tableControls.page, this.tableControls.pageSize);
        this.records = result.records;
        this.pages = result.pages;
    },
    methods: {
        async setBalance() {
            if (this.desiredBalance !== null) {
                this.balance = null;
                await setUserBalance(this.desiredBalance);
                this.balance = await userBalance();
            }
        },
        async loadTable() {
            let result = await getRecords(this.tableControls.search, this.tableControls.sort, this.tableControls.desc, this.tableControls.page, this.tableControls.pageSize);
            this.records = result.records;
            this.pages = result.pages;
        },
        async search() {
            this.tableControls.page = 1;
            this.loadTable();
        },
        async sort(key: string) {
            if (this.tableControls.sort === key) {
                this.tableControls.desc = !this.tableControls.desc;
            } else {
                this.tableControls.sort = key;
                this.tableControls.desc = false;
            }
            this.loadTable();
        },
        async deleteRecord(id: number) {
            await deleteRecord(id);
            if (this.records?.length === 1 && this.tableControls.page > 1) {
                this.tableControls.page--;
            }
            this.loadTable();
        }
    },
    components: { TableHeader }
}
</script>