<template>
    <div class="col bg-primary ptr text-center border" @click="handleClick">{{ value }}</div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
    name: "CalculatorButton",
    props: {
        value: {
            type: String,
            required: true,
        },
    },
    emits: {
        click: (_value: string) => true,
    },
    methods: {
        handleClick() {
            this.$emit("click", this.value);
        },
    },
});
</script>