<template>
    <th scope="col" class="ptr" @click="click">{{ label }}
        <span v-if="sortKey === name && !desc">▲</span>
        <span v-if="sortKey === name && desc">▼</span>
    </th>
</template>

<script lang="ts">
export default {
    props: {
        sortKey: String,
        desc: Boolean,
        label: String,
        name: String
    },
    emits: {
        click: (_value: string) => true,
    },
    methods: {
        click() {
            this.$emit("click", this.name ?? "");
        }
    }
}
</script>

<style scoped>
.ptr {
    cursor: pointer;
}
</style>