<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <main class="bg-body" data-bs-theme="dark">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item" v-if="auth.token">
                <a class="nav-link" href="#" @click.prevent="logout">Logout</a>
              </li>
              <li class="nav-item" v-else>
                <RouterLink class="nav-link" active-class="active" to="/">Login</RouterLink>
              </li>
              <li class="nav-item" v-if="auth.token">
                <RouterLink class="nav-link" active-class="active" to="/calc">Calculator</RouterLink>
              </li>
              <li class="nav-item" v-if="auth.token">
                <RouterLink class="nav-link" active-class="active" to="/user">User Management</RouterLink>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="alert alert-danger alert-dismissible" role="alert" v-if="error.message">
      {{ error.message }}
      <button type="button" class="btn-close" aria-label="Close" @click="dismissError"></button>
    </div>

    <RouterView />

  </main>
</template>

<script lang="ts">
import { auth } from '@/api';
import { error } from '@/errors';

export default {
  name: 'App',
  data() {
    return { auth, error }
  },
  methods: {
    logout() {
      auth.token = null;
      this.$router.push('/');
    },
    dismissError() {
      error.message = null;
    }
  }
};
</script>